body {
    font: 300 14px 'Helvetica Neue', Helvetica;
    /*background-color: #000033;*/
}
div {
    /*background-color: #ffffff;*/
    /*border: solid;*/
}
svg {
    width: 95%;
    height: 720px;
    margin: 0 auto;
    border-style: dashed;
    /*border-color: #96C8DA;*/
    /*background-color: #000000;*/
}

#terminal_output {
    /*height: 500px;*/
    overflow: auto;
    max-height: 600px;
}

.popup {
    display: none;
}
.node rect {
    stroke: #2bbbff;
    fill: #2bbbff;
}
.edgePath path {
    stroke: #B5CC18;
    fill: #B5CC18;
    stroke-width: 1.5px;
}

.tipsy .name {
    font-size: 1.5em;
    font-weight: bold;
    color: #60B1FC;
    margin: 0;
}
.tipsy .description {
    font-size: 1.2em;
}
