body {
    font: 300 14px 'Helvetica Neue', Helvetica;
}
#github_icon {
    position: absolute;
    top: 16px;
    right: 16px;
}
#graph_area {
    border-style: dashed;
}
svg {
    width: 95%;
    height: 540px;
    margin: 0 auto;
}

#terminal_output {
    overflow: auto;
    max-height: 600px;
}

.popup {
    display: none;
}
.clusters rect {
    fill: #a9b1b5;
    stroke: #a9b1b5;
    stroke-width: 2px;
}
text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 16px;
    color: #ffffff;
}
.container {
    color: #ffffff;
}
.node rect {
    stroke: #333;
    fill: #333;
}
.edgePath path {
    stroke: #999;
    fill: #999;
    stroke-width: 2px;
}
